.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5em;
  font-size: 17px;
  border-bottom: 1px solid #ccc;
  margin: 0 3em 0 3em;
}

.container:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link:focus {
  outline: none;
  box-shadow: none;
}

.leftContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #333;
}

.innerLeftContainer {
  display: flex;
}

.leftContainer p {
  margin: 0;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  margin-left: 3em;
}

.rightContainer p {
  margin: 0;
  color: #333;
  font-size: 17px;
}

.author {
  padding-left: 20px;
  color: #999;
}
.icon {
  height: auto;
  width: 20px;
}
.icon:hover {
  cursor: pointer;
}

.title {
  padding-left: 1.2em;
}
